---
interface Headings {
  subheadings: {
    text: string
    id: string
    depth: string
  }
  depth?: number
}

export interface Props {
  headings: Headings[]
  depth?: number
}

const { headings, depth = 2 } = Astro.props

const hierarchy = headings.reduce((array, heading) => {
  if (depth > 4) {
    return array
  }

  if (heading.depth === depth) {
    array.push({ ...heading, subheadings: [] })
  } else {
    array.at(-1)?.subheadings.push(heading)
  }

  return array
}, [] as Headings[])
---

{
  hierarchy && (
    <ol class={depth > 2 && 'pl-4'}>
      {hierarchy.map(({ id, text, subheadings }) => (
        <li class="">
          <a href={`#${id}`}>{text}</a>
          {subheadings.length > 0 && (
            <Astro.self headings={subheadings} depth={depth + 1} />
          )}
        </li>
      ))}
    </ol>
  )
}
